@page "/meus-contatos"

<section class="pagina-inicial">

    <section class="secao-banner">
        <div class="banner-principal">
            <p class="subtitulo-banner">03</p>

            <h1 class="titulo-banner">Meus Contatos</h1>

            <p class="texto-banner">
                Aqui você encontra minhas principais formas de contato.
                Fique à vontade para conversar comigo através das redes sociais,
                WhatsApp ou e-mail.
            </p>
        </div>
    </section>

    <section class="secao-destaques">

        <article class="cartao-destaque cartao-claro">
            <h2>Instagram</h2>

            <p>
                Acompanhe meus projetos, publicações e um pouco do meu dia a dia
                através do Instagram.
            </p>

            <a href="https://instagram.com/luisgust_7" target="_blank">
                https://instagram.com/luisgust_7
               
            </a>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <h2>WhatsApp</h2>

            <p>
                Entre em contato diretamente comigo pelo WhatsApp para conversar,
                tirar dúvidas ou trocar ideias.
            </p>

            <a href="https://wa.me/5569993675299" target="_blank">
                (69) 99367-5299
            </a>
        </article>

        <article class="cartao-destaque cartao-azul">
            <h2>E-mail</h2>

            <p>
                Você também pode enviar uma mensagem pelo meu e-mail para assuntos
                profissionais ou pessoais.
            </p>

            <a href="mailto:luisbob.stone@gmail.com">
                luisbob.stone@gmail.com
            </a>
        </article>

    </section>

</section>

<footer class="footer">
    <p>© 2026 - App Portfolio - Luís Gustavo </p>
</footer>