@page "/meu-curriculo"

<section class="pagina-inicial">

    <section class="secao-banner">
        <div class="banner-principal">
            <p class="subtitulo-banner">02</p>

            <h1 class="titulo-banner">Meu Currículo</h1>

            <p class="texto-banner">
                Aqui estão algumas das minhas principais habilidades e tecnologias
                que venho estudando e desenvolvendo ao longo da minha trajetória
                no ifro.
            </p>
        </div>
    </section>

    <section class="secao-destaques">

        <article class="cartao-destaque cartao-claro">
            <h2>HTML & CSS</h2>

            <p>
                Desenvolvimento de páginas modernas, responsivas e organizadas,
                utilizando boas práticas de estruturação e estilização web.
            </p>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <h2>C#</h2>

            <p>
                Conhecimentos em programação orientada a objetos utilizando C#.
                
            </p>
        </article>

        <article class="cartao-destaque cartao-azul">
            <h2>SQL</h2>

            <p>
                 banco de dados, consultas SQL, modelagem e
                manipulação de informações de forma estruturada.
            </p>
        </article>


        <article class="cartao-destaque cartao-roxo">
            <h2>JavaScript</h2>

            <p>
                Utilização de JavaScript para adicionar interatividade,
                dinamismo e melhor experiência para o usuário nas aplicações web.
            </p>
        </article>

    </section>

</section>

<footer class="footer">
    <p>© 2026 - App Portfolio - Luís Gustavo </p>
</footer>