@page "/minha-historia"

<section class="pagina-inicial">

    <section class="secao-banner">
        <div class="banner-principal">
            <p class="subtitulo-banner">01</p>

            <h1 class="titulo-banner">Minha História</h1>

            <p class="texto-banner">
                Sou estudante do IFRO Campus Ji-Paraná, apaixonado por tecnologia,
                aprendizado e desafios. Sempre busco evoluir tanto na área acadêmica
                quanto pessoal, construindo minha trajetória com dedicação e esforço.
            </p>
        </div>
    </section>

    <section class="secao-destaques">

        <article class="cartao-destaque cartao-claro">
            <h2>Início</h2>

            <p>
                Antes de ingressar no Instituto Federal, realizei meu ensino
                fundamental na escola particular Educar, onde desenvolvi grande
                parte da minha base acadêmica e pessoal.
            </p>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <h2>Trajetória</h2>

            <p>
                Atualmente tenho 17 anos e sou aluno do IFRO Campus Ji-Paraná,
                onde venho adquirindo conhecimentos importantes na área da tecnologia
                e desenvolvimento de sistemas.
            </p>
        </article>

        <article class="cartao-destaque cartao-azul">
            <h2>Esporte</h2>

            <p>
                Durante os 3 anos de curso também participei como atleta de futsal,
                experiência que contribuiu para minha disciplina, trabalho em equipe
                e comprometimento dentro e fora das quadras.
            </p>
        </article>

    </section>

</section>

<footer class="footer">
    <p>© 2026 - App Portfolio - Luís Gustavo </p>
</footer>
